$white: white;
$blackish-green: #112211;

$black: #1C1B1F;
$mint-green: #8DD3BB;
$light-mint-green: #CDEAE1;

$inter-font: var(--inter-font);
$montserrat-font: var(--montserrat-font);
$trade-gothic-font: var(--libreFranklin-font);

